@font-face {
    font-family: 'GintoNormalMedium'; /* You can name it whatever you like */
    src: url('../assets/fonts/ABCGintoNormal-Medium-Trial-BF651b7b7332bb4.woff') format('woff'); /* Adjust the path as necessary */
    font-weight: normal; /* Adjust if you have specific weights */
    font-style: normal; /* Adjust if you have specific styles */
}